@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <div class="text-center">
        <h3>We 're going to have an exiciting party.</h3>
        <h2>And YOU are invited!</h2>
        <a class="btn btn-primary" asp-action="RsvpForm">RSVP Now</a>
    </div>
</body>
</html>